<html>
  <head>
    <title>Surat Kontrol</title>
    <link rel="stylesheet" href="style.css" />
  </head>

  <style>
    * {
      font-size: 1em;
    }

    header {
      display: flex;
      align-items: center;
    }

    body {
      padding: 0 10px;
    }

    #logo {
      width: 40px;
      margin-right: 10px;
    }

    #logo > img {
      width: 100%;
    }

    #detail > div:not(:first-child) {
      font-size: 0.8em;
    }

    #main-header {
      border-top-style: double;
      border-bottom: 1px solid black;
      padding: 5px 0;
    }

    #main-header > * {
      text-align: center;
      margin: 0;
      padding: 0;
    }

    #content {
      margin: 5px 0;
    }

    #content table tr > th {
      text-align: left;
      width: 120px;
    }

    .hidden {
      visibility: hidden;
    }

    .left {
      left: 0;
    }

    .right {
      right: 0;
    }

    .ttd {
      position: absolute;
      bottom: 0;
      margin: 20px;
      width: 150px;
    }

    .ttd > div {
      font-size: 0.7em;
      text-align: center;
    }

    .ttd > div:nth-child(2) {
      padding-bottom: 80px;
      border-bottom-style: double;
    }
  </style>

  <body>
    <header>
      <table>
        <tr>
          <td>
            <div id="logo"><img src="<%= logo %>" alt="logo" /></div>
          </td>
          <td>
            <div id="detail">
              <div><strong>RUMAH SAKIT IBU ANAK ZAINAB</strong></div>
              <div>JL.RONGGOWARSITO I NO.1, PEKANBARU 24125</div>
              <div>Telp.: 0761-24000 Fax.: 0761-25444</div>
              <div>
                Web Url : https://www.rsiazainab.co.id , E-Mail :
                rs_zainab@yahoo.com
              </div>
            </div>
          </td>
        </tr>
      </table>
    </header>
    <main>
      <div id="main-header">
        <h2>SURAT KONTROL</h2>
        <h2>No.Surat : [ <%= nomorSurat %>]</h2>
      </div>
      <div id="content">
        <table>
          <tbody>
            <tr>
              <th>Nama</th>
              <td>:</td>
              <td><%= nama %></td>
            </tr>
            <tr>
              <th>Diagnosis</th>
              <td>:</td>
              <td><%= diagnosis %></td>
            </tr>
            <tr>
              <th>Terapi</th>
              <td>:</td>
              <td><%= terapi %></td>
            </tr>
            <tr>
              <th>Alamat</th>
              <td>:</td>
              <td><%= alamat %></td>
            </tr>
            <tr>
              <th>Tanggal kontrol</th>
              <td>:</td>
              <td><%= jadwalKontrol %></td>
            </tr>
            <tr>
              <th>Tempat kontrol</th>
              <td>:</td>
              <td><%= tempatKontrol %></td>
            </tr>
            <% if (tempatKontrol === 'FKTP') { %>
            <tr>
              <th>Nama FKTP</th>
              <td>:</td>
              <td><%= namaTempat %></td>
            </tr>
            <% } %>
            <tr>
              <th>Dokter pengirim</th>
              <td>:</td>
              <td><%= dokter %></td>
            </tr>
            <tr>
              <th>Keterangan</th>
              <td>:</td>
              <td><%= keterangan %></td>
            </tr>
          </tbody>
        </table>
      </div>
    </main>
    <footer>
      <div class="ttd <%= tempatKontrol !== 'RSIA Zainab' ? 'left': 'right'%>">
        <div>PEKANBARU, <%= tanggal %></div>
        <div>Dokter Pengirim</div>
        <div>( <%= dokter %>)</div>
      </div>
      <div
        class="ttd <%= tempatKontrol !== 'RSIA Zainab' ? 'right': 'hidden'%>"
      >
        <div></div>
        <div>Dokter <%= tempatKontrol === 'FKTP' ? 'FKTP' : 'Penerima' %></div>
        <div>
          (dr. <span style="display: inline-block; width: 100px;"></span>)
        </div>
      </div>
    </footer>
  </body>
</html>
